<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Inventory Dashboard</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<object th:include="fragments/css_common_links :: css_common_links"
	th:remove="tag"></object>
</head>


<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">
		<div th:replace="fragments/_header :: header"></div>
		<div th:replace="fragments/_sidebar :: sidebar"></div>
		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<h1>
					General Form Elements <small>Preview</small>
				</h1>
				<ol class="breadcrumb">
					<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
					<li><a href="#">Product</a></li>
					<li class="active">Add New Product</li>
				</ol>
			</section>
			<!-- Main content -->
			<section class="content">
				<div class="row">
					<!--/.col (left) -->
					<!-- right column -->
					<div class="col-md-10">
						<!-- Horizontal Form -->
						<div class="box box-info">
							<div class="box-header with-border">
								<h3 class="box-title">Add a New Product</h3>
							</div>
							<!-- /.box-header -->
							<!-- form start -->
							<form class="form-horizontal" th:action="@{/product-add}"
								th:object="${product}" method="post">
								<div class="box-body">
									<div class="form-group">
										<label class="col-sm-2 control-label">Name</label>
										<div class="col-sm-10">
											<input type="text" class="form-control" th:field="*{name}"
												placeholder="Name" />
										</div>
										<br /> <br /> <label class="col-sm-2 control-label">Description</label>
										<div class="col-sm-10">
											<input type="text" class="form-control" name="description"
												th:field="*{description}" placeholder="Description" />
										</div>
										<br /> <br /> <label class="col-sm-2 control-label">Price</label>
										<div class="col-sm-10">
											<input type="text" class="form-control" name="price"
												th:field="*{price}" placeholder="Price" />
										</div>
										<br /> <br /> <label class="col-sm-2 control-label">Categories</label>
										<div class="col-sm-10">
											<select class="form-control" name="category">
												<option th:each="c : ${categories}" th:value="${c.id}"
													th:text="${c.name}"></option>
											</select>
										</div>
										<br /> <br /> <label class="col-sm-2 control-label">Departments</label>
										<div class="col-sm-10">
											<select class="form-control" name="department">
												<option th:each="d : ${departments}" th:value="${d.id}"
													th:text="${d.name}"></option>
											</select>
										</div>
										<br /> <br /> <label class="col-sm-2 control-label">Branches</label>

										<div class="col-sm-10">
											<select class="form-control" name="branch">
												<option th:each="b : ${branches}" th:value="${b.id}"
													th:text="${b.name}"></option>
											</select>
										</div>
										<br /> <br /> <label class="col-sm-2 control-label">Users</label>
										<div class="col-sm-10">
											<select class="form-control" name="user">
												<option th:each="u : ${users}" th:value="${u.id}"
													th:text="${u.name.concat(' '+u.surname)}"></option>
											</select>
										</div>

									</div>
								</div>
								<!-- /.box-body -->
								<div class="box-footer">
									<button type="submit" class="btn btn-info pull-right">Create
										New Product</button>
								</div>
								<!-- /.box-footer -->
							</form>
						</div>

					</div>
					<!--/.col (right) -->
				</div>
				<!-- /.row -->
			</section>
			<!-- 		<div th:replace="fragments/_footer :: footer"></div> -->
		</div>
	</div>
	<object th:include="fragments/js_common_links :: js_common_links"
		th:remove="tag"></object>
</body>
</html>