<header class="main-header" th:fragment="header">
	<!-- Logo -->
	<a href="#" class="logo"> 
		<span class="logo-mini"><b>A</b>LT</span>
		<span class="logo-lg"><b>Inventory-Admin</b></span>
	</a>
	<!-- Header Navbar: style can be found in header.less -->
	<nav class="navbar navbar-static-top">
		<!-- Sidebar toggle button-->
		<a href="#" class="sidebar-toggle" data-toggle="push-menu"
			role="button"> <span class="sr-only">Toggle navigation</span> <span
			class="icon-bar"></span> <span class="icon-bar"></span> <span
			class="icon-bar"></span>
		</a>

		<div id="navbar" class="navbar-collapse collapse navbar-right">
			<ul class="nav navbar-nav">
			 <li class="dropdown">
                    <a href="#" id="chooseLang" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><img id="imgNavSel" src="/img/az.svg" alt="az" class="img-thumbnail icon-small"/><span id="lanNavSel"  th:text="#{lang.az}"></span> <span class="caret"></span></a>
                    <ul id="languages" class="dropdown-menu">
            	        <li><a id="navAz" href="?lang=az" class="language"><img id="imgNavAz" src="/img/az.svg"   alt="az" class="img-thumbnail icon-small"/><span th:text="#{lang.az}" id="lanNavAz"></span></a></li>
                        <li><a id="navRu" href="?lang=ru" class="language"><img id="imgNavRu" src="/img/ru.svg"   alt="ru" class="img-thumbnail icon-small"/><span th:text="#{lang.ru}" id="lanNavRu"></span></a></li>
        			    <li><a id="navEng" href="?lang=en" class="language"><img id="imgNavEng" src="/img/us.svg" alt="eng" class="img-thumbnail icon-small"/><span th:text="#{lang.eng}" id="lanNavEng"></span></a></li>
        	        </ul>
                </li>
				<li class="dropdown user user-menu"><a href="#"
					class="dropdown-toggle"><img src="/img/user2-160x160.jpg"
						class="user-image" alt="User Image"/> <span class="hidden-xs"
						th:inline="text">[[${#httpServletRequest.remoteUser}]]</span>
				</a>
				</li>
				<li>
					<form th:action="@{/logout}" method="post">
						<button type="submit" class="btn btn-danger"
							style="margin-top: 10px; margin-right: 20px">
							<i class="fa  fa-power-off" aria-hidden="true"></i>
						</button>
					</form>
				</li>
			</ul>
		</div>
	</nav>
</header>