<div th:fragment="sidebar">
	<!-- Left side column. contains the logo and sidebar -->
	<aside class="main-sidebar">
		<!-- sidebar: style can be found in sidebar.less -->
		<section class="sidebar">
			<!-- Sidebar user panel -->
			
			<!-- search form -->
			<form action="#" method="get" class="sidebar-form">
				<div class="input-group">
					<input type="text" name="q" class="form-control"
						placeholder="Search..." /> <span class="input-group-btn">
						<button type="submit" name="search" id="search-btn"
							class="btn btn-flat">
							<i class="fa fa-search"></i>
						</button>
					</span>
				</div>
			</form>
			<!-- /.search form -->
			<!-- sidebar menu: : style can be found in sidebar.less -->
			<ul class="sidebar-menu" data-widget="tree">
				<li class="header">DASHBOARDS</li>
				<li class="treeview"><a href="#"> <i class="fa fa-cube"></i>
						<span>Category</span> <span class="pull-right-container"> <i
							class="fa fa-angle-left pull-right"></i>
					</span>
				</a>
					<ul class="treeview-menu">
						<li><a th:href="@{/new-category}"><i
								class="fa fa-circle-o"></i>New Category</a></li>
						<li><a th:href="@{/category}"><i class="fa fa-circle-o"></i>Category
								List</a></li>
					</ul></li>
				<li class="treeview"><a href="#"> <i class="fa fa-cubes"></i>
						<span>Category Features</span> <span class="pull-right-container">
							<i class="fa fa-angle-left pull-right"></i>
					</span>
				</a>
					<ul class="treeview-menu">
						<li><a th:href="@{/new-category-feature}"><i
								class="fa fa-circle-o"></i>New Category Feature</a></li>
						<li><a th:href="@{/feature}"><i class="fa fa-circle-o"></i>Category Feature
								List</a></li>
					</ul></li>
				<li class="treeview"><a href="#"> <i class="fa fa-forumbee"></i>
						<span>Branch</span> <span class="pull-right-container"> <i
							class="fa fa-angle-left pull-right"></i>
					</span>
				</a>
					<ul class="treeview-menu">
						<li><a th:href="@{/new-branch}"><i class="fa fa-circle-o"></i>New
								Branch</a></li>
						<li><a th:href="@{/branch}"><i class="fa fa-circle-o"></i>Branch
								List</a></li>
					</ul></li>
				<li class="treeview"><a href="#"> <i class="fa fa-database"></i>
						<span>Product</span> <span class="pull-right-container"> <i
							class="fa fa-angle-left pull-right"></i>
					</span>
				</a>
					<ul class="treeview-menu">
						<li><a th:href="@{/new-product}"><i class="fa fa-circle-o"></i>New
								Product</a></li>
						<li><a th:href="@{/products}"><i class="fa fa-circle-o"></i>Product
								List</a></li>
					</ul></li>
				<li class="treeview"><a href="#"> <i class="fa fa-desktop"></i>
						<span>Department</span> <span class="pull-right-container">
							<i class="fa fa-angle-left pull-right"></i>
					</span>
				</a>
					<ul class="treeview-menu">
						<li><a th:href="@{/new-department}"><i class="fa fa-circle-o"></i>New
								Department</a></li>
						<li><a th:href="@{/departments}"><i class="fa fa-circle-o"></i>Department List</a></li>
					</ul></li>
			</ul>
		</section>
		<!-- /.sidebar -->
	</aside>

</div>