<thymeleaf xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" th:fragment="css_common_links"
	th:remove="tag">
<link rel="stylesheet" href="/css/bootstrap.min.css"/>
<link rel="stylesheet" href="/css/font-awesome.min.css" />
<link rel="stylesheet" href="/css/ionicons.min.css" />
<link rel="stylesheet" href="/css/AdminLTE.min.css" />
<link rel="stylesheet" href="/css/skins/_all-skins.min.css" />
<link rel="stylesheet" href="/css/dataTables.bootstrap.css" />
<link rel="stylesheet" href="/css/sweetalert.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic" />
<link rel="stylesheet" href="/css/tabbed.css" />
<link rel="stylesheet" href="/css/header-flag-icon.css" />
<link rel="stylesheet" href="/css/btn3d.css" />
</thymeleaf>