<thymeleaf xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" th:fragment="js_common_links"
	th:remove="tag"> 
	<script src="/js/jquery.min.js" type="text/javascript"></script> 
	<script src="/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="/js/login.js" type="text/javascript"></script>
	<script src="/js/adminlte.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
	<script src="/js/datatables/jquery.dataTables.min.js" type="text/javascript"></script>
	<script src="/js/datatables/dataTables.bootstrap.min.js" type="text/javascript"></script>
	<script src="/js/sweetalert.min.js" type="text/javascript"></script>
	<script src="/js/category-add-dynamic-rows.js" type="text/javascript"></script>
	<script src="/js/test.js" type="text/javascript"></script>
</thymeleaf>
