<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Category Dashboard</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<object th:include="fragments/css_common_links :: css_common_links"
	th:remove="tag"></object>
</head>


<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">
		<div th:replace="fragments/_header :: header"></div>
		<div th:replace="fragments/_sidebar :: sidebar"></div>
		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<h1>
					Category <small> All Items</small>
				</h1>
				<ol class="breadcrumb">
					<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
					<li><a href="#">Category</a></li>
					<li class="active">Category List</li>
				</ol>
			</section>
			<!-- Main content -->
			<section class="content">
				<div class="row">
					<!--/.col (left) -->
					<!-- right column -->
					<div class="col-xs-12">
						<div class="box">
							<div class="box-header">
								<h3 class="box-title">Category List</h3>
							</div>
							<div class="box-body">
								<table id="categoryTable" class="table table-bordered table-striped">
									<thead>
										<tr>
											<th>ID</th>
											<th>Category Name</th>
											<th style="text-align: center;" data-field="actions">Actions</th>
										</tr>
									</thead>
									<tbody>
										<tr  th:each="category : ${categories}">
											<td class="categoryId" th:text="${category.id}"></td>
											<td th:text="${category.name}"></td>
											<td style="text-align: center;"><a
													th:href="@{/category-edit(categoryId=${category.id})}"
													class="btn btn-primary edit-category"><span
														class="glyphicon glyphicon-pencil"></span></a> &nbsp;&nbsp; <a
													
													class="btn btn-danger delete-category"> <span
														class="glyphicon glyphicon-trash"></span>
												</a></td>
										</tr>
									</tbody>
									<tfoot>
										<tr>
											<th>ID</th>
											<th>Category Name</th>
										</tr>
									</tfoot>
								</table>
							</div>
							<!-- /.box-body -->
						</div>
					</div>
				</div>
				<!-- /.row -->
			</section>
			<!-- 		<div th:replace="fragments/_footer :: footer"></div> -->
		</div>
	</div>
	<object th:include="fragments/js_common_links :: js_common_links"
		th:remove="tag"></object>
		<script type="text/javascript">
		$(function() {
			$("#categoryTable").DataTable();
			$(".delete-category")
			.click(
					function(e)
					{
						if($(this).is('[disabled=disabled]'))
							return;
						var categoryId = $(this).closest("tr")
								.find(".categoryId").text();
						swal(
								{
									title : "Are you sure?",
									text : "The selected category will be deleted!",
									type : "warning",
									showCancelButton : true,
									confirmButtonClass : "btn-danger",
									confirmButtonText : "Yes, delete it!",
									cancelButtonText : "No, cancel please!",
									closeOnConfirm : false,
									closeOnCancel : false
								},
								function(isConfirm) {
									if (isConfirm) {
										$(location)
												.attr(
														'href',
														'/category-delete?categoryId='
																+ categoryId);
									} else {
										swal("Cancelled",
												"The category is safe :)",
												"error");
									}
								});

					});
			
		});
		</script>
</body>
</html>