<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Inventory Category Dashboard</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
 <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
<object th:include="fragments/css_common_links :: css_common_links"
	th:remove="tag"></object>
</head>


<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">
		<div th:replace="fragments/_header :: header"></div>
		<div th:replace="fragments/_sidebar :: sidebar"></div>
		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<section class="content-header">
				<h1>
					General Form Elements <small>Preview</small>
				</h1>
				<ol class="breadcrumb">
					<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
					<li><a href="#">Category</a></li>
					<li class="active">Add New Category</li>
				</ol>
			</section>
			<!-- Main content -->
			<section class="content">
				<div class="row">
					
					<div class="col-md-10">
						<div class="panel with-nav-tabs panel-info">
							<div class="panel-heading">
								<ul class="nav nav-tabs">
									<li class="active"><a th:text="#{add.category.feature}" href="#tab1primary"
										data-toggle="tab" style="font-size: 18px">
										</a></li>

								</ul>
							</div>
							<div class="panel-body">
								<div class="tab-content">
									<div class="tab-pane fade in active" id="tab1primary">
											<div class="form-group">
												<label for="inputEmail3" class="col-sm-1 control-label">Category</label>
												<div class="col-sm-10">
													<input type="text" class="form-control" id="category" name="name" placeholder="Category" />
												</div>
											</div>
											<!-- /.box-body -->

											<table class="table table-bordered table-hover"
												id="tab_logic">
												<thead>
													<tr>
														<th class="text-center">#</th>
														<th th:text="#{category.name}" class="text-center">Name</th>
														<th th:text="#{category.description}" class="text-center">Description</th>
													</tr>
												</thead>
												<tbody>
													<tr id='addr0'>
														<td style="text-align: center;"><a class="glyphicon glyphicon-pencil edit-category-row"></a></td>
														<td><input type="text" name='name' placeholder='Name'
															class="form-control newCatFeatureName" /></td>
														<td><input type="text" name='description'
															placeholder='Description'
															class="form-control newCatFeatureDescription" /></td>
													</tr>
													<tr id='addr1'></tr>
												</tbody>
											</table>
											<div class="box-footer">
											<a  id="add_row" class="btn btn-info btn-md btn3d pull-left"><span th:text="#{add.row}" class="glyphicon glyphicon-ok"></span></a> 
											<a  id='delete_row' class="btn btn-danger btn-md btn3d pull-right"><span th:text="#{remove.row}" class="glyphicon glyphicon-remove"></span></a>
											<a  id="add-category-all" style="margin-left:175px" class="btn btn-success btn-md btn3d"><span th:text="#{submit.categories}" class="glyphicon glyphicon-ok"></span></a>
											</div>
											<!-- /.box-footer -->
										
									</div>


								</div>
							</div>
						</div>
					</div>

					<!-- /.modal -->
				</div>
				<!-- /.row -->
			</section>
			<!-- 		<div th:replace="fragments/_footer :: footer"></div> -->
		</div>
	</div>
	
	<object th:include="fragments/js_common_links :: js_common_links"
		th:remove="tag"></object>
	<script type="text/javascript">
		$(function() {
			var feature = {};
		    feature.items = [];
			var index = 0;
			$("#add_row").click(function(){
				 var category = $("#category").val();
				 $("#addr"+index).children().find(".newCatFeatureName").prop("disabled",false);
				 $("#addr"+index).children().find(".newCatFeatureDescription").prop("disabled",false);
				 feature.items.push({'name':$("#addr"+index).children().find(".newCatFeatureName").val(),'description':$("#addr"+index).children().find(".newCatFeatureDescription").val(),'category':category});
				 $("#addr"+index).children().find(".newCatFeatureName").prop('disabled', true);
				 $("#addr"+index).children().find(".newCatFeatureDescription").prop('disabled', true);
				 index++;
			});
			
			$("#tab_logic").on('click','tr a',function(e) { 
				var text =$(this).attr('class');
				var rowIndex = text.substr(text.length - 1);
				if(!rowIndex.match(/^\d+$/)){
				 	rowIndex=0;
				}
				
				 $("#addr"+rowIndex).children().find(".newCatFeatureName").prop("disabled",false);
				 $("#addr"+rowIndex).children().find(".newCatFeatureDescription").prop("disabled",false);
			    
			}); 
			
			  var token = $("meta[name='_csrf']").attr("content");
			  var header = $("meta[name='_csrf_header']").attr("content");
			  $(document).ajaxSend(function(e, xhr, options) {
			    xhr.setRequestHeader(header, token);
			  }); 
			  
			$("#add-category-all").click(function(){
				$.ajax({
					
					method:'POST',
					dataType :'json',
					contentType:'application/json',
					data:JSON.stringify(feature.items),
					url:'/category-add',
					success:function(data){
						
					}
				});
			});

		});
	</script>
</body>
</html>